<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guessing Name</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Hey {{name.title()}}</h1>
    </header>
    <main>
        <h2>I think you are {{gender}},</h2>
        <h3>And maybe {{age}} years old.</h3>
    </main>
    <footer>
        <p>&copy; {{year}} Guessing Game</p>
    </footer>
</body>
</html>